<!DOCTYPE html>
<html>
    <head>
        <title>Data Encode & Decode</title>
        {% load static %}
        <link href="{% static 'metro/css/metro.min.css' %}" rel="stylesheet">
        <link href="{% static 'metro/css/metro-icons.min.css' %}" rel="stylesheet">
        <link href="{% static 'metro/css/metro-responsive.min.css' %}" rel="stylesheet">
        <link href="{% static 'metro/css/metro-schemes.min.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'metro/js/metro.js' %}"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            th {
                background-color: #343434;
                color: white;
            }
            .table a
            {
                display:block;
                text-decoration:none;
            }

            /* The navigation bar */
            .navbar {
                overflow: hidden;

                top: 0; /* Position the navbar at the top of the page */
                width: 100%; /* Full width */
                background-color: white;
            }

            /* Links inside the navbar */
            .navbar a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            /* Change background on mouse-over */
            .navbar a:hover {
                background: #ddd;
                color: black;
            }

            /* Main content */
            .main {
                margin-top: 0px; /* Add a top margin to avoid content overlay */
            }
        </style>
    </head>
    <body style="background-color:#343434;background-repeat: no-repeat;background-attachment:fixed;">
        <script type="text/javascript">
        	$(document).ready(function(){
        		$("#compress").click(function(){
        		    $("#result").html('');
        		    var ins = document.getElementById('file').files.length;
        		    $("#uploadIcon").attr("class", "mif-spinner4 mif-ani-spin mif-lg");
        		    fd = new FormData();
        		    for (var x = 0; x < ins; x++) {
        		        fd.append("file[]", document.getElementById('file').files[x]);
        		    }
        		    //fd.append('file', $('input[type=file]')[0].files);
        		    fd.append('algo', $("input[name=algo]:checked").val());
        		    fd.append('mode', $("input[name=mode]:checked").val());
        		    $.ajax({
                        url: '/main/upload',
                        data: fd,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        success: function(msg) {
                            $("#result").html(msg);
                            $("#uploadIcon").attr("class", "mif-file-upload mif-lg");
                        },
                        error: function(data) {
                            alert("Lỗi mnr: "+data);
                            $("#uploadIcon").attr("class", "mif-file-upload mif-lg");
                        }
                    });
        		});
        		$("form").on('submit',function(e){
           			e.preventDefault();
        		});
        	});
        </script>

        <div class="grid main">
            <div class="row cells6">
                <div class="cell"></div>
                <div class="cell colspan4" style="background-color:white;min-height:100vh">
                    <div style="background: white;color: black;padding-top:5px;padding-bottom:5px">
                        <center>
                            <h1>ĐỒ ÁN CUỐI KÌ</h1>
                            <h3>MÔN HỌC: TÍNH TOÁN ĐA PHƯƠNG TIỆN - 2017</h3>
                        </center>
                    </div>
                    <div style="border-style:solid;border-width:1px;border-radius: 5px;
                                border-color:#c4c4c4;margin:5px">
                        <table style="width:100%">
                            <tr>
                                <td style="padding:25px 25px 25px 25px;width:40%;vertical-align:top">
                                    <form method="post" action="" enctype="multipart/form-data">
                                        <h5>Chọn file</h5><br>
                                        <div class="input-control file full-size" data-role="input">
                                            <input type="file" id="file" name="file" multiple="multiple">
                                            <button class="button"><span class="mif-folder"></span></button>
                                        </div>
                                		<h5>Thuật toán</h5><br>
                                		<div style="padding-left:25px">
                                		    <label class="input-control radio small-check">
                                                <input type="radio" name="algo" value="run_length" checked="checked">
                                                <span class="check"></span>
                                                <span class="caption">Run-length coding</span>
                                            </label><br>
                                            <label class="input-control radio small-check">
                                                <input type="radio" name="algo" value="huffman">
                                                <span class="check"></span>
                                                <span class="caption">Huffman</span>
                                            </label><br>
                                            <label class="input-control radio small-check">
                                                <input type="radio" name="algo" value="shano_fanon">
                                                <span class="check"></span>
                                                <span class="caption">Shannon Fano</span>
                                            </label><br>
                                            <label class="input-control radio small-check">
                                                <input type="radio" name="algo" value="LZW">
                                                <span class="check"></span>
                                                <span class="caption">LZW</span>
                                            </label>
                                            <label class="input-control radio small-check" style="display:none">
                                                <input type="radio" name="algo" value="LosslessJpeg">
                                                <span class="check"></span>
                                                <span class="caption">Lossless Jpeg</span>
                                            </label>
                            	    	</div>
                            	    	<h5>Chế độ</h5><br>
                            	    	<div>
                            	    	    <label class="input-control radio small-check" style="margin-left:25px">
                                                <input type="radio" name="mode" value="Encoding" checked="checked">
                                                <span class="check"></span>
                                                <span class="caption">Encoding</span>
                                            </label>
                                            <label class="input-control radio small-check" style="margin-left:25px">
                                                <input type="radio" name="mode" value="Decoding">
                                                <span class="check"></span>
                                                <span class="caption">Decoding</span>
                                            </label>
                            	    	</div>
                            	    	<button style = "float:right;margin-top:5px" id="compress" value="Submit"
                            	    	class="button primary">
                            	    	    <span id="uploadIcon" class="mif-file-upload mif-lg"></span> Submit
                            	    	</button>
                                    </form>
                                </td>
                                <td style="width:60%;vertical-align:top;padding:25px 25px 25px 25px;border-left: 1px solid #ddd">
                                    <div style="text-align: center;">
                                        <h5>Kết quả</h5>
                                        <div id="result"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="cell"></div>
            </div>
        </div>
    </body>
</html>